@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')

*
    box-sizing: border-box

body
    font-family: 'Montserrat', sans-serif
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    overflow: hidden
    margin: 0

.subMenu
    position: absolute
    bottom: 60px
    font-size: 22px
    //transform: rotate(-90deg)
    ul
        padding: 0
        margin: 0
        list-style: none
        li
            display: inline-block
            transform: rotate(-90deg)
            a
                padding: 8px 12px
                text-decoration: none
                &:visited
                    text-decoration: none
                    color: black
