@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box  
body
    background-color: $backgroundColor
    color: $secondaryColor
    padding: $mainPadding $paddingLarge 0px

h1
    font-family: $mainFont
    font-size: $fontSizeLarge
ul
    list-style: none


#root
    max-width: 1366px
    margin: 0 auto


.loader
    text-align: center
    text-transform: uppercase
    font-size: $fontSizeLarge
    font-weight: 700
    margin-top: 100px
    
.header
    margin-bottom: $mainMargin
    display: flex
    align-items: center
    justify-content: space-between
    .logo img
        height: 68px
        width: 68px
.x-form
    background-color: $mainColor
    margin-bottom: $mainMargin
    padding: $mainPadding $paddingLarge
    text-align: center
    display: flex
    gap: 8px
    border-radius: 16px
    input, select
        width: 220px
        background-color: $mainColorLight
        border: none
        border-radius: 100px
        font-family: $mainFont
        padding: 16px
        color: inherit
        &:focus
            outline: none
        &:first-child
            flex-grow: 1
    span
        font-weight: 700
        font-size: $fontSizeSmall

@media (max-width: $tabletWidth)
    body
        padding: $paddingSmall $mainPadding 0px
    .x-form
        flex-direction: column
        align-items: stretch
        input, select
            width: auto

section
    overflow: scroll
    padding-block: 20px
.main
    display: grid
    grid-template-columns: 250px 1fr
    gap: $mainMargin
    height: calc( 100vh - 68px - 40px - 48px )
    
    @media (max-width: $tabletWidth)
        grid-template-columns: 1fr


.x-text
    font-family: $secondaryFont
    font-size: $fontSize
    line-height: 1.4
    background-color: $mainColor
    margin-bottom: $marginSmall
    padding: $mainPadding $paddingLarge
    border-radius: 16px
    display: flex
    align-items: center
    justify-content: space-between
    gap: $marginSmall

@media (max-width: $tabletWidth)
    .x-text
        flex-direction: column
        align-items: flex-end
        gap: 12px

.disputed
    color: #ef4444
.tag
    text-transform: uppercase
    background-color: $secondaryColor
    color: $mainColor
    font-size: $fontSizeSmall
    font-weight: 700
    padding: 5px 10px

.vote-buttons
    margin-left: auto
    flex-shrink: 0  
    display: flex
    gap: 8px
    button
        border: 1px solid transparent
        background-color: $backgroundColor
        font-size: $fontSizeSmall
        font-weight: 700
        padding: 6px 12px
        border-radius: 100px
        color: inherit
        cursor: pointer
        transition:  0.3s
        &:hover
            border: 1px solid $secondaryColor

.source
    color: $secondaryColor
    text-decoration: none
    opacity: 0.8
    transition: opacity 0.3s
    &:visited
        color: $secondaryColor
    &:hover
        opacity: 1

.category
    margin-bottom: $marginSmall

.btn
    font-family: $mainFont
    text-transform: uppercase
    font-size: $fontSizeSmall
    font-weight: bold
    padding: 16px 0 13px
    border: none
    border-radius: 100px
    cursor: pointer
    transition: 0.3s

.btn-large
    font-size: $fontSize
    padding: 20px 32px 17px

.btn-post
    padding: 12px 24px
    border-radius: 100px

.btn-all 
    margin-bottom: $marginSmall
    width: 100%

.btn-category
    width: 100%

.hidden
    display: none !important
        