@import "variables"
    
.x-form
    background-color: $mainColor
    margin-bottom: $mainMargin
    padding: $mainPadding $paddingLarge
    text-align: center
    align-items: center
    display: flex
    flex-wrap: wrap
    gap: 8px
    border-radius: 16px
    justify-content: space-between
    input, select
        width: 220px
        background-color: $mainColorLight
        border: none
        border-radius: 100px
        font-family: $mainFont
        padding: 16px
        color: inherit
        &:focus
            outline: none
    option
        font-size: $fontSizeSmall
        
    span
        font-weight: 700
        font-size: $fontSizeSmall
#title
        width: 100%
.input-group
        width: 92%
        .inputText
                margin-bottom: 8px
                width: 100%
#source
        width: 45%
#category
        width: 45%
@media (max-width: $tabletWidth)
    .x-form
        flex-direction: column
        align-items: stretch
        input, select
            width: auto