$mobileWidth: 768px
$desktopWidth: 1024px

$mobile: "(max-width: #{$mobileWidth}px)"
$desktop: "(min-width: #{$desktopWidth}px)"

$backgroundColor: #262626
$mainColor: #171717
$secondaryColor: #f4f4f5
$tertiaryColor:#6b21a8


$mainFont: 'Inter', sans-serif
$secondaryFont: 'Sono', sans-serif

$fontSize: 1.2rem
$fontSizeSmall: 1rem
$fontSizeLarge: 1.8rem

$mainMargin: 2rem