@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box  
body
    background-color: $backgroundColor
    color: $secondaryColor
    padding: $mainPadding

h1
    font-family: $mainFont
    font-size: $fontSizeLarge
ul
    list-style: none

.container
    max-width: 1366px
    margin: 0 auto

.header
    margin-bottom: $mainMargin
    display: flex
    align-items: center
    justify-content: space-between
    .logo img
        height: 68px
        width: 68px
.x-form
    background-color: $mainColor
    margin-bottom: $mainMargin
    padding: $mainPadding $paddingLarge
    text-align: center
.main
    display: grid
    grid-template-columns: 250px 1fr
    gap: $mainMargin
    
.x-text
    font-family: $secondaryFont
    font-size: $fontSize
    line-height: 1.4
    background-color: $mainColor
    margin-bottom: $marginSmall
    padding: $mainPadding $paddingLarge

    display: flex
    align-items: center
    justify-content: space-between
    gap: $marginSmall
.tag
    text-transform: uppercase
    background-color: $secondaryColor
    color: $mainColor
    font-size: $fontSizeSmall
    font-weight: 700
    padding: 5px 10px
.vote-buttons
    margin-left: auto
    button
        border: none
        background-color: $backgroundColor
        font-size: $fontSizeSmall
        font-weight: 700
        padding: 6px 12px
        border-radius: 100px
        color: inherit
        cursor: pointer

.source
    color: $secondaryColor
    text-decoration: none
    opacity: 0.8
    transition: opacity 0.3s
    &:visited
        color: $secondaryColor
    &:hover
        opacity: 1
.category
    margin-bottom: $marginSmall
.btn
    font-family: $mainFont
    text-transform: uppercase
    font-size: $fontSizeSmall
    font-weight: bold
    padding: 16px 0 13px
    border: none
    cursor: pointer
.btn-large
    font-size: $fontSize
    padding: 20px 32px 17px
.btn-all 
    margin-bottom: $marginSmall
    width: 100%
.btn-category
    width: 100%