@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box  
body
    background-color: $backgroundColor
    color: $secondaryColor

.header
    margin-bottom: $mainMargin
h1
    font-family: $mainFont
    font-size: $fontSizeLarge
    text-align: center
.x-form
    background-color: $mainColor
    margin-bottom: $mainMargin
    
.x-text
    font-family: $secondaryFont
    font-size: $fontSize
    line-height: 1.4
    background-color: $mainColor

.tag
    text-transform: uppercase
    font-size: $fontSizeSmall
    font-weight: 700

ul
    list-style: none
