@import 'variables'

*
    margin: 0
    padding: 0
    box-sizing: border-box  
body
    background-color: $backgroundColor
    color: $secondaryColor
    padding: $mainPadding

.header
    margin-bottom: $mainMargin
    display: flex
    align-items: center
    justify-content: space-between
h1
    font-family: $mainFont
    font-size: $fontSizeLarge
.x-form
    background-color: $mainColor
    margin-bottom: $mainMargin
    padding: $mainPadding $paddingLarge
    text-align: center
    
.x-text
    font-family: $secondaryFont
    font-size: $fontSize
    line-height: 1.4
    background-color: $mainColor
    margin-bottom: $marginSmall
    padding: $mainPadding $paddingLarge

.tag
    text-transform: uppercase
    font-size: $fontSizeSmall
    font-weight: 700
    padding: 5px 10px

ul
    list-style: none
