/* Breakpoints */
/* Colors */
/* Fonts */
/* Font sizes */
/* Margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #f4f4f5;
  padding: 1rem 2rem 0px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

ul {
  list-style: none;
}

#root {
  max-width: 1366px;
  margin: 0 auto;
}

.loader {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 100px;
}

.header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  font-family: "Circular";
  font-size: 1.8rem;
}

.x-form {
  background-color: #171717;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  gap: 8px;
  border-radius: 16px;
}
.x-form input, .x-form select {
  width: 220px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  padding: 16px;
  color: inherit;
}
.x-form input:focus, .x-form select:focus {
  outline: none;
}
.x-form input:first-child, .x-form select:first-child {
  flex-grow: 1;
}
.x-form span {
  font-weight: 700;
  font-size: 1rem;
}

@media (max-width: 1024px) {
  body {
    padding: 0.5rem 1rem 0px;
  }
  .x-form {
    flex-direction: column;
    align-items: stretch;
  }
  .x-form input, .x-form select {
    width: auto;
  }
}
section {
  padding-block: 20px;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
  height: calc(100vh - 68px - 40px - 48px);
}
@media (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.x-text {
  font-family: "Sono", sans-serif;
  font-size: 1.2rem;
  line-height: 1.4;
  background-color: #171717;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .x-text {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}
.disputed {
  color: #ef4444;
}

.tag {
  text-transform: uppercase;
  background-color: #f4f4f5;
  color: #171717;
  font-size: 1rem;
  font-weight: 700;
  padding: 5px 10px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
}
.vote-buttons button {
  border: 1px solid transparent;
  background-color: #262626;
  font-size: 1rem;
  font-weight: 700;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}
.vote-buttons button:hover {
  border: 1px solid #f4f4f5;
}

.source {
  color: #f4f4f5;
  text-decoration: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.source:visited {
  color: #f4f4f5;
}
.source:hover {
  opacity: 1;
}

.category {
  margin-bottom: 1rem;
}

.btn {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 16px 0 13px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-large {
  font-size: 1.2rem;
  padding: 20px 32px 17px;
}

.btn-post {
  padding: 12px 24px;
  border-radius: 100px;
}

.btn-all {
  margin-bottom: 1rem;
  width: 100%;
}

.btn-category {
  width: 100%;
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */