@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap')

$phoneScreen: 600px
$bg-color: #0A0E17
$gradient: linear-gradient(145deg, rgba(69,255,143,1) 0%, rgba(255,224,246,1) 25%, rgba(255,216,199,1) 50%, rgba(126,152,158,1) 75%, rgba(90,132,195,1) 100%)
*
    box-sizing: border-box
body
    background-color: $bg-color
    color: white
    font-family: 'Inter', sans-serif
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    overflow: hidden
    margin: 0

ul
    padding: 0
    margin: 0
    list-style: none
    display: inline-block
    li
        display: inline-block

a
    text-decoration: none
    font-weight: bold
    cursor: poiner
    color: white
    &:visited
        color: white
        text-decoration: none
.browser
    z-index: 2
    width: 1366px
    height: 768px
    background: $gradient
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px
    @media (max-width:$phoneScreen)
        width: 460px

    .bar
        height: 65px
        ul
            margin: 25px 15px 15px 15px
            li
                margin-left: 5px
    .square-1
        display: inline-block
        width: 20px
        height: 20px
        border: 3px $bg-color solid
        cursor: pointer
        &:hover
            background-color: #d11525
    .square
        display: inline-block
        width: 20px
        height: 20px
        border: 3px $bg-color solid
    .tab
        display: inline-block
        border: 3px $bg-color solid
        padding: 5px 15px
        color: $bg-color
        font-weight: bold
        margin-left: 10px
        .tab-el
            display: inline-block
            margin: 0
        i
            margin-left: 10px
            cursor: pointer

    .content
        background-color: $bg-color
        margin: auto
        width: 99%
        height: 90%
        display: flex
        align-items: center
        flex-wrap: wrap
        flex-direction: column
        @media (max-width:$phoneScreen)
            flex-wrap: nowrap
        ul
            padding: 12px 30px
            li
                margin-left: 4px
        .preloader
            z-index: 100
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            display: none
            align-items: center
            justify-content: center
            animation: scale 1s
            img
                width: 80px
                height: 80px
            @keyframes scale
                0%
                    transform: rotate(0deg)
                    opacity: .6

                50%
                    transform: rotate(90deg)
                    opacity: 1

                100%
                    transform: rotate(180deg)
                    opacity: .6

        .top
            width: 80%
            justify-content: space-between
            margin: auto
            display: flex
            @media (max-width:$phoneScreen)
                font-size: 40px
                width: 100%
                margin-left: 30px
            #fox
                width: 180px
                opacity: 0
                transition: opacity 1s
                @media (max-width:$phoneScreen)
                    width: 80px
                &.show
                    opacity: 1

        .mid
            display: none
            width: 80%
            margin: auto
            justify-content: center
            &.active
                display: flex
            .uxui-projects
                display: none
                flex-wrap: wrap
                justify-content: center
                &.active
                    display: flex
            .design-projects
                display: none
                flex-wrap: wrap
                justify-content: center
                &.active
                    display: flex
            .info
                display: none
                opacity: 0
                transition: opacity 1s
                &.show
                    opacity: 1
                &.active
                    display: flex
                    flex-direction: row-reverse
                .cem-img
                    width: 140px
                    height: 140px
                    border-radius: 50%
                    margin-right: 20px
                    align-self: center
                .info-text
                    font-size: 18px
                    letter-spacing: 1.5px
            .contact
                display: none
                flex-wrap: wrap
                opacity: 0
                transition: opacity 1s
                &.show
                    opacity: 1
                &.active
                    display: flex
                .contact-box
                    ul
                        li
                            display: block
                            padding: 20px
                            letter-spacing: 1.5px
                            font-size: 22px
                p
                    text-align: center
                    font-size: 22px
                .socials
                    text-align: center
                    i
                        font-size: 22px
                        cursor: pointer

                        &:not(:last-child)
                            margin-right: 25px
            .web-projects
                display: none
                flex-wrap: wrap
                justify-content: center
                opacity: 0
                transition: all 1s
                &.show
                    opacity: 1
                &.active
                    display: flex
            .project-item
                width: 320px
                height: 240px
                border: 1px solid #ffffff21
                overflow: hidden
                margin: 20px
                button
                    border: none
                    background-color: transparent
                    text-decoration: underline
                    letter-spacing: 2px
                    color: #fff
                    cursor: pointer
                    margin-left: 8px
                .project-img
                    width: 100%
                    height: 140px
                    object-fit: cover
                    transition: width 1s
                    &:hover
                        width: 120%
                h2
                    font-size: 18px
                    margin: 5px 0 -10px 10px
                    white-space: nowrap
                p
                    margin-left: 10px
                    font-size: 14px
                    opacity: .8

        .bottom
            text-align: center
            flex-wrap: wrap
            justify-content: center
            display: flex
            opacity: 0
            transition: opacity 1s
            @media (max-width:$phoneScreen)
                text-align: left
                flex-wrap: nowrap
                &.mobile
                    display: none
            &.show
                opacity: 1
            ul
                li
                    font-size: 30px
                    color: $bg-color
                    background: white
                    font-weight: bold
                    -webkit-background-clip: text
                    -webkit-text-stroke: 1px transparent
                    padding: 26px
                    cursor: pointer
                    transition: color .5s ease
                    a
                        color: $bg-color
                        transition: color .5s ease
                        &:hover
                            color: white
.displayNone
    display: none
header
    color: $bg-color
    font-size: 80px
    stroke-width: 6px
    background: white
    -webkit-background-clip: text
    -webkit-text-stroke: 6px transparent
    opacity: 0
    transition: opacity 1s
    @media (max-width:$phoneScreen)
        font-size: 60px
        -webkit-text-stroke: 2px transparent
    &.show
        opacity: 1
footer
    position: absolute
    bottom: 0
    color: white
    opacity: 0.4
