@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #0A0E17;
  color: white;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}
ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  font-weight: bold;
  cursor: poiner;
  color: white;
}
a:visited {
  color: white;
  text-decoration: none;
}

.browser {
  z-index: 2;
  width: 1366px;
  height: 768px;
  background: linear-gradient(145deg, rgb(69, 255, 143) 0%, rgb(255, 224, 246) 25%, rgb(255, 216, 199) 50%, rgb(126, 152, 158) 75%, rgb(90, 132, 195) 100%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@media (max-width: 600px) {
  .browser {
    width: 460px;
  }
}
.browser .bar {
  height: 65px;
}
.browser .bar ul {
  margin: 25px 15px 15px 15px;
}
.browser .bar ul li {
  margin-left: 5px;
}
.browser .square-1 {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px #0A0E17 solid;
  cursor: pointer;
}
.browser .square-1:hover {
  background-color: #d11525;
}
.browser .square {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px #0A0E17 solid;
}
.browser .tab {
  display: inline-block;
  border: 3px #0A0E17 solid;
  padding: 5px 15px;
  color: #0A0E17;
  font-weight: bold;
  margin-left: 10px;
}
.browser .tab .tab-el {
  display: inline-block;
  margin: 0;
}
.browser .tab i {
  margin-left: 10px;
  cursor: pointer;
}
.browser .content {
  background-color: #0A0E17;
  margin: auto;
  width: 99%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.browser .content ul {
  padding: 12px 30px;
}
.browser .content ul li {
  margin-left: 4px;
}
.browser .content .preloader {
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  -webkit-animation: scale 1s;
          animation: scale 1s;
}
.browser .content .preloader img {
  width: 80px;
  height: 80px;
}
@-webkit-keyframes scale {
  0% {
    transform: rotate(0deg);
    opacity: 0.6;
  }
  50% {
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0.6;
  }
}
@keyframes scale {
  0% {
    transform: rotate(0deg);
    opacity: 0.6;
  }
  50% {
    transform: rotate(90deg);
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0.6;
  }
}
.browser .content .top {
  width: 80%;
  justify-content: space-between;
  margin: auto;
  display: flex;
}
@media (max-width: 600px) {
  .browser .content .top {
    font-size: 40px;
  }
}
.browser .content .top #fox {
  width: 180px;
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 600px) {
  .browser .content .top #fox {
    width: 80px;
  }
}
.browser .content .top #fox.show {
  opacity: 1;
}
.browser .content .mid {
  display: none;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.browser .content .mid.active {
  display: flex;
}
.browser .content .mid .uxui-projects {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.browser .content .mid .uxui-projects.active {
  display: flex;
}
.browser .content .mid .design-projects {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}
.browser .content .mid .design-projects.active {
  display: flex;
}
.browser .content .mid .info {
  display: none;
  opacity: 0;
  transition: opacity 1s;
}
.browser .content .mid .info.show {
  opacity: 1;
}
.browser .content .mid .info.active {
  display: flex;
  flex-direction: row-reverse;
}
.browser .content .mid .info .cem-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 20px;
  align-self: center;
}
.browser .content .mid .info .info-text {
  font-size: 18px;
  letter-spacing: 1.5px;
}
.browser .content .mid .contact {
  display: none;
  flex-wrap: wrap;
  opacity: 0;
  transition: opacity 1s;
}
.browser .content .mid .contact.show {
  opacity: 1;
}
.browser .content .mid .contact.active {
  display: flex;
}
.browser .content .mid .contact .contact-box ul li {
  display: block;
  padding: 20px;
  letter-spacing: 1.5px;
  font-size: 22px;
}
.browser .content .mid .contact p {
  text-align: center;
  font-size: 22px;
}
.browser .content .mid .contact .socials {
  text-align: center;
}
.browser .content .mid .contact .socials i {
  font-size: 22px;
  cursor: pointer;
}
.browser .content .mid .contact .socials i:not(:last-child) {
  margin-right: 25px;
}
.browser .content .mid .web-projects {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0;
  transition: all 1s;
}
.browser .content .mid .web-projects.show {
  opacity: 1;
}
.browser .content .mid .web-projects.active {
  display: flex;
}
.browser .content .mid .project-item {
  width: 320px;
  height: 240px;
  border: 1px solid rgba(255, 255, 255, 0.1294117647);
  overflow: hidden;
  margin: 20px;
}
.browser .content .mid .project-item button {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  letter-spacing: 2px;
  color: #fff;
  cursor: pointer;
  margin-left: 8px;
}
.browser .content .mid .project-item .project-img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: width 1s;
}
.browser .content .mid .project-item .project-img:hover {
  width: 120%;
}
.browser .content .mid .project-item h2 {
  font-size: 18px;
  margin: 5px 0 -10px 10px;
  white-space: nowrap;
}
.browser .content .mid .project-item p {
  margin-left: 10px;
  font-size: 14px;
  opacity: 0.8;
}
.browser .content .bottom {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 600px) {
  .browser .content .bottom {
    text-align: left;
    flex-wrap: nowrap;
  }
}
.browser .content .bottom.show {
  opacity: 1;
}
.browser .content .bottom ul li {
  font-size: 30px;
  color: #0A0E17;
  background: white;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px transparent;
  padding: 26px;
  cursor: pointer;
  transition: color 0.5s ease;
}
.browser .content .bottom ul li a {
  color: #0A0E17;
  transition: color 0.5s ease;
}
.browser .content .bottom ul li a:hover {
  color: white;
}

.displayNone {
  display: none;
}

header {
  color: #0A0E17;
  font-size: 80px;
  stroke-width: 6px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-stroke: 6px transparent;
  opacity: 0;
  transition: opacity 1s;
}
@media (max-width: 600px) {
  header {
    font-size: 60px;
    -webkit-text-stroke: 2px transparent;
  }
}
header.show {
  opacity: 1;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
  opacity: 0.4;
}/*# sourceMappingURL=style.css.map */