*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  --color-text: #0004ff;
  --color-bg: #131313;
  --color-link: #aaa;
  --color-link-hover: #fff;
}

body {
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-bg);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.frame {
  color: var(--color-title);
  padding: 1rem;
  display: grid;
  grid-template-columns: 100%;
  justify-content: start;
  grid-gap: 0.5rem;
  align-items: start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-items: end;
  z-index: 500;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.grid__item {
  height: 100vh;
  place-items: center;
  display: grid;
  width: 96vw;
  font-size: 96px;
}

@media screen and (min-width: 53em) {
  .frame {
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto;
    justify-items: start;
    grid-gap: 2rem;
  }
}
