/* Font Face */

@font-face {
  font-family: "Vanitas Regular";
  src: url("./fonts/VanitasRegular.woff") format("woff");
}

@font-face {
  font-family: "Vanitas Bold";
  src: url("./fonts/VanitasBold.woff") format("woff");
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Vanitas";
  font-size: 4rem;
  color: #fff;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
}