$new-black: rgba(30, 30, 30, 1)
$golden-yellow: rgba(255, 197, 84, 1)
$white: rgba(255, 255, 255, 1)
    
body
    background-color: #f3dbff
    display: flex
    justify-content: center
    height: 100%
    margin: 0
    padding: 0

.flex-col
    align-items: center
    display: flex
    flex-direction: column
    margin-top: 54px
    width: 775px

.overlap-group-2
    height: 400px
    margin-top: 269px
    position: relative
    width: 120px

.rectangle-3
    background-color: $new-black 
    border-radius: 0px 30px 30px 0px
    height: 174px
    position: absolute
    top:226px
    width: 56px

.lever 
    height: 320px
    left: 36px
    position: absolute
    width: 84px
.lever-active
    transform: rotate(180deg)
    top:310px
.rectangle-5 
    background-color: $new-black
    border-radius: 0px 10px 10px 0px
    height: 37px
    left: 55px
    position: absolute
    top: 300px
    width: 46px


.overlap-group-1
    display: flex
    justify-content: center
    height: 775px
    position: relative
    width:775px

.group-1
    align-items: center
    background-color: #ffcf54
    border-radius: 10px
    display: flex
    height: 400px
    justify-content: center
    min-width: 775px
    position: absolute
    top: 140px

.rectangle-mid
    background-color: $white
    border: 5px solid
    border-color: $golden-yellow
    height: 300px
    width:180px
    margin-left: 10px
    margin-right: 10px

.sm-body
    background-color: $new-black
    border-radius: 30px 30px 0px 0px
    height: 100%
    left: 92px
    width: 600px

.rectangle-6 
    background-color: #ffa654
    border-radius: 10px 10px 0px 0px
    height: 50px
    width: 200px
.rectangle-7
    background-color: $white
    border-radius: 50px 50px 0px 0px
    height: 90px
    width: 135px