$new-black: rgba(30, 30, 30, 1)
$golden-yellow: rgba(255, 197, 84, 1)
$white: rgba(255, 255, 255, 1)
    
body
    align-items: flex-start
    background-color: #f3dbff
    display: flex

.overlap-group-2
    height: 400px
    margin-top: 269px
    position: relative
    width: 120px

.rectangle-3
    background-color: $new-black 
    border-radius: 0px 30px 30px 0px
    height: 174px
    left: 0
    position: absolute
    top:226px
    width: 56px

.lever 
    height: 320px
    left: 36px
    position: absolute
    top: 0
    width: 84px

.rectangle-5 
    background-color: $new-black
    border-radius: 0px 10px 10px 0px
    height: 37px
    left: 55px
    position: absolute
    top: 300px
    width: 46px

.flex-col
    align-items: center
    display: flex
    flex-direction: column
    margin-top: 108px
    min-height: 916px
    width: 775px

.overlap-group-1
    height: 775px
    position: relative
    width:775px

.group-1
    align-items: center
    background-color: #ffcf54
    bo